@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');


body {
  font-family: 'Pushster', cursive !important;
}
$color-1: #fec5bb;
$color-2: #fcd5ce;
$color-3: #fae1dd;
$color-4: #f8edeb;
$color-5: #e8e8e4;
$color-6: #d8e2dc;
$color-7: #ece4db;
$color-8: #ffe5d9;
$color-9: #ffd7ba;
$color-10: #fec89a;

h1, h2, h3, h4, h5 {
  color: $color-4;
}

.leftbox {
  padding: 15px;
}

.leftbotcard {
  background-position: 25% 75%;
  background-size: cover;

}
.card-title {
  color: #1a1e21;

}
.card-text {
  color: black;
  padding: 2px;

  font-size: 20px;
}

.centerbotcard {
  background-position: 25% 75%;
  background-size: cover;
}

.rightbotcard {
  background-position: 25% 75%;
  background-size: cover;
}